.bigred {
  font-family: "Courier New";
  font-style: italic;
  font-size: xx-large;
  color: red;
}
body {
  place-items: unset !important;
}
@media only screen and (max-width: 600px) {
  .card {
    margin-left: 2vw;
    margin-top: 10vh !important;
    width: 96vw;
  }
}
